<h1>Make a Profile</h1>

<form method="post" action="/create">
	Title:<input type="text" name="title">
	Content:<textarea rows="10" columns="50" name="content">
	</textarea>
	<input type="submit">
</form>